<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">Archives <span id="archives-loading" style="margin-top: 6px;" class="pull-right fa fa-spin fa-spinner"></span></div>
    <div class="panel-body nopadding">
      <div class="list-group" id="archives-list">
      </div>
    </div>
  </div>
</div>