<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">Categories</div>
    <div class="panel-body nopadding">
      <div id="categories-list" class="list-group">
      </div>
    </div>
  </div>
</div>