<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">Subscribe us</div>
    <div class="panel-body">
      <form action="#" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="@ Email">
        </div>

        <div class="form-group">
          <button class="btn btn-default btn-lg pull-right" type="button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>