<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">Tags <span id="tags-loading" style="margin-top: 6px;" class="pull-right fa fa-spin fa-spinner"></span></div>
    <div class="panel-body">
      <ul class="list-inline tags" id="tags-list">
      </ul>
    </div>
  </div>
</div>